apiVersion: v1
kind: ServiceMonitor
metadata:
  name: nizar-sample-app-monitor
  labels:
    app: sample
spec:
  selector:
    matchLabels:
      app: sample
  endpoints:
    - port: http
      path: /metrics
      interval: 30s



